<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title>Tornado WebSocket Sample</title>
</head>
<body>
  <input type="text" id="token" value="76c7ea95f0e51fb9b047dfe7aab4ff3c099505e4" />
  <button id="connect">Connect</button>
  <div id="result"></div>
  <script>
  var $ = function (id) {
    return document.getElementById(id);
  };

  $('connect').addEventListener('click', function (evt) {
      evt.preventDefault();
    var token = $('token').value;

    var sock = new WebSocket('wss://localhost:8888/ws/'+ token);
    sock.onopen = function () {
      console.log('opened.');
    };
    sock.onclose = function () {
      console.log('closed.');
    };
    sock.onerror = function () {
      console.log('error.');
    };
    sock.onmessage = function (evt) {
      $('result').innerText = evt.data;
      alert(evt.data);
    };
  });
  </script>
</body>
</html>